<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>







  <p>
    <input type="text" name="" value="" placeholder='filter' class="form-control">
    <input type="submit" value="New Post" class="btn btn-primary" />
    <div class="form-inline">
      <label for="sort">  Sort by </label>
      <select class="form-control" id="sort">
          <option value="upVotes">Votes</option>
          <option value="title">Title</option>
          <option value="lastUpdated">Date</option>
        </select>
    </div>
  </p>

  <form name="postForm" class="new-post-form">
    <div>
      <label for="title">Title</label>
      <input type="text" name="title" id="title" class="form-control" ng-model="$ctrl.post.title">
    </div>
    <div>
      <label for="body">Body</label>
      <textarea name="body" id="body" class="form-control" ng-model="$ctrl.post.body"></textarea>
    </div>
    <div>
      <label for="author">Author</label>
      <input name="author" id="author" class="form-control" ng-model="$ctrl.post.author">
    </div>
    <div>
      <label for="image-url">Image URL</label>
      <input name="imageUrl" id="image-url" class="form-control" ng-model="$ctrl.post.image_url">
    </div>
    <div class="buttons">
      <button type="submit" class="btn btn-primary" ng-click="$ctrl.createPost($ctrl.post)">
          Create Post
        </button>
    </div>
  </form>
  <ul ng-repeat="post in $ctrl.posts">
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <div class="media-left">
            <img class="media-object">
            <img src="{{post.image_url}}" width="200" height="200" />
          </div>

          <div class="media-body">
            <h4 class="media-heading">
                {{post.title}}
                |
                <a><i class="glyphicon glyphicon-arrow-up" ng-click="$ctrl.upVote(post)"></i></a>
                <a><i class="glyphicon glyphicon-arrow-down" ng-click="$ctrl.downVote(post)"></i></a>
                {{post.vote_count}}
              </h4>
            <div class="text-right">
              {{post.author}}
            </div>
            <p>
              {{post.body}}
            </p>
            <div am-time-ago="post.created_at">
              {{post.created_at}} |
            </div>
            <div class="buttons">


              <a ui-sref="page-banana({ id: post.id })" class="btn btn-primary">
                  Edit Post
                </a>




              <div ng-click=$ctrl.toggleComments()>
                <i class="glyphicon glyphicon-comment"></i>
                <a ng-if="post.comments.length == 1">
                    {{post.comments.length}} comment
                  </a>
                <a ng-if="post.comments.length != 1">
                    {{post.comments.length}} comments
                  </a>



              </div>
              <div ng-show=$ctrl.showComments ng-repeat="comment in post.comments">
                {{comment.content}}

              </div>



              <div class="row">
                <div class="col-md-offset-1">
                  <hr>
                  <p>
                    Comment text
                  </p>
                  <form class="form-inline">
                    <div class="form-group">
                      <input type="text" name="newComments" id="newComment" class="form-control" ng-model="post.comments.newComment.content">
                      <input type="submit" class="btn btn-primary" ng-click="$ctrl.insertComment(post)">
                    </div>
                  </form>
                </div>
              </div>




            </div>





          </div>
          <!--End media-body div-->
        </div>
      </div>
  </ul>
  </div>










</body>

</html>
